body {
    font-family: "Overpass";
}

body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:url(/images/kyudo.gif) url(/images/mexico.jpg) url(/images/profile.jpg) url(/images/nyu-logo.png);
}

/* Landing Page */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.5;
    color: #010a43;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.japanese-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.45rem;
}

.navbar {
    padding-left: 0;
}

.navbar-item:hover {
    color: #ffc2c2;
}

.container-fluid {
    padding: 0% 10%;
    /* height:100vh;
    overflow: auto; */
}

.site-logo {
    color: #010a43
}

.site-logo:hover {
    color: #ffc2c2;
}

.hover-photo-text {
    color: #010a43;
    border-bottom: solid 2px;
}

.hover-photo-text:hover {
    border-bottom: solid 0px;
    color: #ffc2c2;
}

.landing-picture {
    max-width: 75%;
    height: auto;
}

.kyudo-gif {
    width: 60%;
}

#nyu {
    cursor: pointer;
}

.ranking {
    font-size: 1rem;
    color: #C0C0C0;
    margin-bottom: 0;
}

.ranking-rule {
    margin-top: 0;
}

.skill-logo {
    color: #010a43;
    margin-bottom: 0;
}

.python-bar {
    background-color: #306998;
}

.html-bar {
    background-color: #F16529;
}

.css-bar {
    background-color: #264de4;
}

.js-bar {
    background-color: #323330;
}

.java-bar {
    background-color: #ED8B00;
}

.c-sharp-bar {
    background-color: #800080;
}

.bootstrap-bar {
    background-color: #602c50;
}

.jquery-bar {
    background-color: #0868AC;
}

.d3-bar {
    background-color: #ffA800;
}

.click-text {
    font-size: 1rem;
    color: #C0C0C0;
    margin-bottom: 3%;
}

.card {
    border: none;
}

.card-title {
    text-align: left;
    font-size: 1.5rem;
}

.nyu-logo {
    width: 75%;
}

/* MAPS */
.countries {
    fill: #010a43;
    /* fill: #2F2B5A; */
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}

.airports {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
}

#d3-map {
    border-radius: 15px;
    font-family: 'VT323', monospace;
    /* background-color: #107189; */
    /* background-color: #8C6E88; */
    background-color: #56476D;
}

.plane {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
}

.map-text {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
    font-size: 0.7rem;
}

.map-screen {
    /* fill: #56476D; */
    /* fill: #010a43; */
    fill: #01072D;
}

.location-text {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
    font-size: 1.5rem;
}

.city-text {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
    font-size: 2rem;
}

.coords-text {
    /* fill: #a8e1bf; */
    fill: #FFC2C2;
    font-size: 0.625rem;
}

.route {
    opacity: 0;
}

.footer-text {
    color: #C0C0C0;
}

.footer-explanation {
    border-bottom: solid 0.5px;
    cursor: pointer;
}

.modal-title {
    font-size: 1.5rem;
}
