body {
    font-family: "Overpass";
}

/* Landing Page */
h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: #010a43;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.japanese-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.45rem;
}

.navbar {
    padding-left: 0;
}

.navbar-item:hover {
    color: #ffc2c2;
}

.container-fluid {
    padding: 0% 10%;
}

.site-logo {
    color: #010a43
}

.site-logo:hover {
    color: #ffc2c2;
}

.hover-photo-text {
    border-bottom: solid 2px;
}

.hover-photo-text:hover {
    border-bottom: solid 0px;
    color: #ffc2c2;
}

.landing-picture {
    width: 100%;
}

.ranking {
    font-size: 1rem;
    color: #C0C0C0;
}

.skill-logo {
    color: #010a43;
    margin-bottom: 0;
}

.python-bar {
    background-color: #ffe873;
}

.html-bar {
    background-color: #F16529;
}

.css-bar {
    background-color: #264de4;
}

.js-bar {
    background-color: #F0DB4F;
}

.java-bar {
    background-color: #ED8B00;
}

.c-sharp-bar {
    background-color: #800080;
}

.bootstrap-bar {
    background-color: #602c50;
}

.jquery-bar {
    background-color: #0868AC;
}

.d3-bar {
    background-color: #ffA800;
}
